# Import

In [1]:
import pandas as pd
import gtfs_kit as gk
import helper #homemade function file helper.py
import warnings
import numpy as np
import seaborn as sns
import dataframe_image as dfi
import json
import os
from datetime import datetime

warnings.simplefilter(action='ignore', category=pd.errors.SettingWithCopyWarning)

# Load

In [2]:
locations = pd.read_csv('../../weather/locations.csv')
measurments = pd.read_csv('../../weather/mesurments.csv')
wmo_codes = pd.read_csv('../../weather/wmo_code.csv')

# Code

In [3]:
mappa_location_codice = {
              0:'S06500_1',
              1:'S06501_1',
              2:'S06400_1',
              3:'S06401_1',
              4:'S06402_1',
              5:'S06404_1',
              6:'S06313_1',
              7:'S06312_1',
              8:'S06310_1',
              9:'S06309_1',
              10:'S06308_1',
              11:'S06306_1',
              12:'S06304_1',
              13:'S06303_1',
              14:'S06302_1',
              15:'S06301_1',
              16:'S06300_1',
              17:'S06322_1',
              18:'S06323_1',
              19:'S06324_1',
              20:'S06325_1',
              21:'S06227_1',
              22:'S06226_1',
              23:'S06225_1',
              24:'S06224_1',
              25:'S06223_1',
              26:'S06222_1',
              27:'S06013_1'}

In [4]:
locations["codice_stazione"] = locations["location_id"].apply(lambda x: mappa_location_codice.get(x))
locations.head(30)

,location_id,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation,codice_stazione
0,0,43.699997,10.400009,13.0,3600,Europe/Berlin,CET,S06500_1
1,1,43.800003,10.400009,18.0,3600,Europe/Berlin,CET,S06501_1
2,2,43.800003,10.400009,3.0,3600,Europe/Berlin,CET,S06400_1
3,3,43.699997,10.400009,3.0,3600,Europe/Berlin,CET,S06401_1
4,4,43.699997,10.400009,1.0,3600,Europe/Berlin,CET,S06402_1
5,5,43.800003,10.400009,5.0,3600,Europe/Berlin,CET,S06404_1
6,6,43.800003,10.400009,24.0,3600,Europe/Berlin,CET,S06313_1
7,7,43.800003,10.400009,92.0,3600,Europe/Berlin,CET,S06312_1
8,8,43.900010,10.600006,64.0,3600,Europe/Berlin,CET,S06310_1
9,9,43.900010,10.600006,88.0,3600,Europe/Berlin,CET,S06309_1
10,10,43.900010,10.699997,117.0,3600,Europe/Berlin,CET,S06308_1
11,11,43.900010,10.500000,229.0,3600,Europe/Berlin,CET,S06306_1
12,12,43.900010,10.600006,164.0,3600,Europe/Berlin,CET,S06304_1
13,13,44.000000,10.500000,161.0,3600,Europe/Berlin,CET,S06303_1
14,14,44.000000,10.500000,243.0,3600,Europe/Berlin,CET,S06302_1
15,15,44.000000,10.500000,433.0,3600,Europe/Berlin,CET,S06301_1
16,16,44.000000,10.500000,381.0,3600,Europe/Berlin,CET,S06300_1
17,17,44.000000,10.300003,462.0,3600,Europe/Berlin,CET,S06322_1
18,18,44.000000,10.300003,574.0,3600,Europe/Berlin,CET,S06323_1
19,19,44.100006,10.199997,500.0,3600,Europe/Berlin,CET,S06324_1
20,20,44.100006,10.199997,530.0,3600,Europe/Berlin,CET,S06325_1
21,21,44.100006,10.100006,377.0,3600,Europe/Berlin,CET,S06227_1
22,22,44.100006,10.100006,320.0,3600,Europe/Berlin,CET,S06226_1
23,23,44.199997,10.100006,423.0,3600,Europe/Berlin,CET,S06225_1
24,24,44.199997,10.000000,285.0,3600,Europe/Berlin,CET,S06224_1
25,25,44.100006,10.000000,135.0,3600,Europe/Berlin,CET,S06223_1
26,26,44.100006,10.000000,114.0,3600,Europe/Berlin,CET,S06222_1
27,27,44.100006,9.900009,64.0,3600,Europe/Berlin,CET,S06013_1

In [5]:
measurments.head()

,location_id,time,temperature_2m (°C),relative_humidity_2m (%),apparent_temperature (°C),rain (mm),snowfall (cm),snow_depth (m),wind_speed_10m (km/h),wind_direction_10m (°)
0,0,2022-02-15T00:00,9.6,91.0,7.3,0.8,0.0,0.0,13.4,297.0
1,0,2022-02-15T01:00,9.9,92.0,7.7,1.3,0.0,0.0,12.5,309.0
2,0,2022-02-15T02:00,10.1,92.0,7.8,1.2,0.0,0.0,13.9,295.0
3,0,2022-02-15T03:00,10.2,91.0,7.9,1.5,0.0,0.0,14.0,271.0
4,0,2022-02-15T04:00,9.9,90.0,7.5,2.4,0.0,0.0,14.0,252.0

In [6]:
wmo_codes = wmo_codes.rename(columns={'weather_code (wmo code)': 'wmo_code'})

In [7]:
wmo_codes.head()

   location_id        time  wmo_code
0            0  2022-02-15      63.0
1            0  2022-02-16       2.0
2            0  2022-02-17       3.0
3            0  2022-02-18       3.0
4            0  2022-02-19       3.0

### Clean up time in measurment table

In [ ]:
measurments = measurments.assign(data_giorno=None)
measurments = measurments.assign(orario=None)
measurments = measurments.assign(wmo_code=None)
for index, row  in measurments.iterrows():
    if(index % 10000 == 0):
        print("row " + str(index) + "/" +str(measurments.index.max()))
    date,time = measurments.loc[index,"time"].split("T")
    measurments.loc[index,'orario'] = time
    measurments.loc[index,'data_giorno'] = date.replace("-","")

row 0/419999
row 10000/419999
row 20000/419999
row 30000/419999
row 40000/419999
row 50000/419999
row 60000/419999
row 70000/419999
row 80000/419999
row 90000/419999
row 100000/419999
row 110000/419999
row 120000/419999
row 130000/419999
row 140000/419999
row 150000/419999
row 160000/419999
row 170000/419999
row 180000/419999
row 190000/419999
row 200000/419999
row 210000/419999
row 220000/419999

In [ ]:
for index, row  in wmo_codes.iterrows():
    if(index % 1000 == 0):
        print("row " + str(index) + "/" +str(wmo_codes.index.max()))
    wmo_codes.loc[index,'time'] = wmo_codes.loc[index,"time"].replace("-","")

In [ ]:
measurments.to_csv("../../weather/measurments_after_split_clock.csv")
wmo_codes.to_csv("../../weather/wmo_codes_after_split.date.csv")

In [ ]:
# Creo una tabella unica
measurments["codice_stazione"] = measurments["location_id"].apply(lambda x: mappa_location_codice.get(x))

for index, row  in wmo_codes.iterrows():
    if(index % 1000 == 0):
        print("row " + str(index) + "/" +str(wmo_codes.index.max())) 
    measurments.loc[(measurments.location_id == row["location_id"]) & (measurments.giorno == row["time"]) , ['wmo_code']] = row["wmo_code"]

In [ ]:
measurments

In [ ]:
#measurments.to_csv('../processed_files/measurments_preprocessing.csv')